* {
      box-sizing: border-box;
          margin: 0;
         padding: 0;
}
.App {
  padding-bottom: 50px;
      background: rgba(0, 0, 0, 0.199);
}
.App h2 {
      text-align: center;
          margin: 40px auto;
   margin-bottom: 20px;
}
.App h2:first-child {
      margin-top: 0;
     padding-top: 50px;
}
.Input-Block {
           width: 300px;
      text-align: center;
          margin: 0 auto;
}
.HoverBlocks {
         display: flex;
 justify-content: space-between;
}
.HoverBlockRed {
           width: 300px;
          height: 300px;
          margin: 10px;
      background: red;
      transition: all 0.3s ease-in-out ;
}
.HoverBlockBlue {
           width: 300px;
          height: 300px;
          margin: 10px;
   border-radius: 50%;
      background: rgb(0, 17, 255);
      transition: all 0.3s ease-in-out ;
}
.HoverBlockBlack {
           width: 300px;
          height: 300px;
          margin: 10px;
      background: rgb(0, 0, 0);
      transition: all 0.3s ease-in-out ;
}
.HoverBlockGreen {
           width: 300px;
          height: 300px;
          margin: 10px;
   border-radius: 50%;
      background: rgb(62, 206, 146);
      transition: all 0.3s ease-in-out ;
}
.ScrollBlock {
         display: flex;
          margin: 20px;
         padding: 15px;
}
.ScrollList {
        overflow: scroll;
          margin: 0 auto;
           width: 500px;
          height: 400px;
          border: 1px solid black;
}
.List-child {
          border: 2px solid black;
          margin: 5px;
         padding: 5px;
}
.List-lastChild {
          height: 5px;
}
.Debounce {
       max-width: 300px;
      max-height: 100px;
          margin: 20px auto;
         padding: 10px;
          border: 1px solid black;
}
.BallBlock {
        position: relative;
        text-align: center;
           width: 500px;
          height: 400px;
          margin: 0 auto;
}
.Circle {
      position: absolute;
    text-align: center;
     transform: translateX(-50%)
                translateY(-50%);
     font-size: 30px;
   font-weight: 700;
   line-height: 240px;
 border-radius: 50%;
        border: 1px dashed black;
    background: blue;
    transition: all 2s ease-in-out;
}